#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 60px;
}

a {
  color: #60b5cc;
}

li {
  list-style: none;
}

.todo-list .todo-item.done {
  text-decoration: line-through;
}

.todo-list .todo-item.in-progress {
  color: green;
}

.todo-list .todo-item.stalled {
  color: grey;
}